body {
	background-color: #F6F1F1;
}


/* title */

.title-h1 {
	margin-top: 200px;
	font-size: 100px;
	font-weight: bold;
}

.title-img {
	margin-top: 200px;
	transform: rotate(25deg);
}


/* features */

#features {
	background-color: #AFD3E2;
	padding: 100px;
	text-align: center;
	margin-top: 50px;
	border-radius: 20%;
}


.feature-card {
	padding: 50px;
}

.card {
	border-radius: 50%;
}

.feature-img {
	margin-bottom: 30px;
	border-radius: 20%;
}

.feature-btn {
	margin-top: 30px;
	margin-bottom: 20px;
}

.feature-text {
	margin: 0 30px;
	font-weight: bold;
}


/* description */

#description {
	text-align: center;
	padding: 50px;
	background-color: #AFD3E2;
	border-radius: 20%;
	margin-top: 50px;
	margin-bottom: 0;
}

.description-img {
	padding-bottom: 40px;
	border-radius: 20%;
	height: 50%;
}

